.contacto-titulo {
  margin-top: 20vh;
}

.contacto-titulo .text-headline {
  line-height: 1;
}

.contacto-form {
  margin-top: 20vh;
  font-size: 36px;
  line-height: 1.8;
}

.contacto-form input {
  font-family: inherit;
  font-size: 0.5em;
  letter-spacing: 0.05em;
  line-height: 1.5;
  vertical-align: 0.25em;
  color: inherit;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid;
  border-radius: 0;
  text-transform: uppercase;
}

.contacto-form input::placeholder {
  color: var(--primary-4);
}

.contacto-form select {
  font-family: inherit;
  color: inherit;
  font-size: 0.5em;
  letter-spacing: 0.05em;
  line-height: 1.5;
  vertical-align: 0.25em;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid;
  text-transform: uppercase;
  padding-right: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(/assets/images/icon-caret-down.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 0.75em auto;
  border-radius: 0;
}

.contacto-enviar {
  border: 0;
  font-family: inherit;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1;
  padding: 0;
  color: var(--secondary-5);
  background-color: transparent;
  background-image: url(/assets/images/icon-arrow-right.svg);
  background-repeat: no-repeat;
  background-position: top 0.2em right 0.2em;
  padding-right: 1.35em;
  background-size: 0.9em auto;
  transition: background-position 0.3s;
  opacity: 0.8;
  font-weight: 600;
}

.contacto-enviar:hover {
  cursor: pointer;
  background-position: top 0.2em right 0;
  opacity: 1;
}

.whatsapp-link-container {
  text-align: center; /* Alinea el contenido al centro */
  margin: 20px; /* Ajusta el margen según tus preferencias */
}

/* Estilos para el enlace */
.whatsapp-link {
  display: inline-block; /* Muestra el enlace como bloque en línea */
  text-decoration: none; /* Elimina el subrayado predeterminado */
  padding: 15px; /* Ajusta el relleno según tus preferencias */
  background-color: #25d366; /* Color de fondo de WhatsApp verde */
  color: #fff; /* Color del texto blanco */
  border-radius: 5px; /* Ajusta la esquina redondeada según tus preferencias */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  font-size: 0.8em;
}

/* Estilos cuando pasas el mouse sobre el enlace */
.whatsapp-link:hover {
  background-color: #128C7E; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilos para la imagen de WhatsApp */
.whatsapp-icon {
  width: 30px; /* Ajusta el ancho según tus preferencias */
  height: auto; /* Mantiene la proporción original */
  margin-right: 8px; /* Ajusta el margen derecho según tus preferencias */
}



@media (max-width: 900px) {
  .contacto-form {
    font-size: var(--text-title);
  }
}

@media (max-width: 500px) {
  .contacto-form {
    font-size: var(--text-subheader);
  }
  .contacto-form select,
  .contacto-form input {
    font-size: 1rem;
    width: 60%;
    padding-bottom: 0;
  }

  .contacto-titulo {
    margin-top: var(--spacer-xl);
    margin-bottom: var(--spacer-s);
  }

  .contacto-titulo .text-headline {
    line-height: 1.5;
  }

  .contacto-form {
    margin-top: 0;
    margin-bottom: var(--spacer-l);
  }
}
