---
layout: layouts/full.njk
title: Inicio
---
<div class="home-slide">
  <h1 class="font-2 home-title">Shukran Audiovisual</h1>
</div>

<div class="home-slide">
  <img src="/assets/images/foto-1-cheia.jpg" alt="">
  <a href="/fotografia/" class="font-2 home-subheader">fotografía</a>
</div>

<div class="home-slide">
  <img src="/assets/images/foto-2-video.jpg" alt="">
  <a href="/ilustracion/" class="font-2 home-subheader">Video</a>
</div>

<div class="home-slide">
  <img src="/assets/images/foto-3-contacto.jpg" alt="">
  <a href="/contacto/" class="font-2 home-subheader home-subheader-alt">Contacto</a>
</div>