---
layout: layouts/base.njk
title: Sobre nosotros
eleventyNavigation:
  key: quiensoy
  title: Sobre nosotros
  order: 4
---

<div class="col-5 col-md-4 col-sm-3 col-xs-6 quien-soy-titulo">
  <h1 class="font-2 text-headline">Sobre nosotros</h1>
</div>

<div class="col-6 quien-soy-content">
  <img class="quien-soy-foto" src="/assets/images/jesusfoto.jpeg" alt="Michaella Zena">
  <p>
  ¡Hola! Soy Jesús Maidana, un apasionado realizador audiovisual y fotógrafo con el privilegio de trabajar actualmente en el prestigioso Teatro Colón. Mi trayectoria se ha centrado en la captura de momentos cautivadores y la creación de experiencias visuales impactantes.

Además de mi trabajo en el teatro, lidero un proyecto personal que me llena de orgullo: Shukran Audiovisual. En Shukran, nos especializamos en ofrecer servicios de fotografía y video dedicados a resaltar la gracia y la expresión artística de bailarinas. Cada proyecto es una colaboración única, donde buscamos capturar la esencia y la pasión de la danza.
<br>
Con un enfoque meticuloso en la estética visual y una dedicación a la excelencia artística, me esfuerzo por ofrecer un servicio que no solo documenta, sino que también celebra la belleza del movimiento. Explora nuestro portafolio y descubre cómo podemos dar vida a tu visión a través de la lente.

Gracias por visitar Shukran Audiovisual y Fotografía. Estamos emocionados de ser parte de tu viaje visual.
  </p>
</div>